#navigation {
    
  
}

#top{
    background-color: #2b3f3c;
}

#Home {
    align-items: center;
}

/* .image2 {
    background-color: rgb(255, 247, 225);
} */

.col {
    padding: 10px;
}

.col-md {
    padding: 10px;
}

/* #portfolio {
    background-color: #eaeaea;
} */

/* .footer{
    background-color: #2b3f3c;
    color: white;
} */
/* line */
.line{
    width: 60px;
    height: 15px;
    color: #fb6705;
    margin: auto;
    text-align: center;
}
